@model EventSourcingTodo.Models.EventsPartialViewModel
<h3>Events</h3>
@if (!Model.Events.Any())
{
    <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Add some to-dos to see events</p>
}
else
{
    <pre><small>@foreach (var e in Model.Events)
    {
        var sb = new System.Text.StringBuilder(Newtonsoft.Json.JsonConvert.SerializeObject(e, Newtonsoft.Json.Formatting.Indented));
        sb.Remove(sb.Length - 1, 1);
        sb.Remove(0, 1);
        sb.Insert(0, e.GetType().Name);
        @sb.ToString()
    }</small></pre>
}