@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-sm-8">
        <form asp-controller="Home" asp-action="AddTodo" method="post" role="form" id="addTodoForm" data-estd-ajax-jqval-submit-on-done="addToDoFormSubmitOnDone">
            <div class="form-group">
                <label asp-for="AddTodoPostModel.Description" class="sr-only"></label>
                <div class="input-group">
                    <input asp-for="AddTodoPostModel.Description" class="form-control" placeholder="What do you need to do?" autofocus />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" aria-label="Add To-do">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <span asp-validation-for="AddTodoPostModel.Description"></span>
            </div>
        </form>
        <br />
        <div id="todoListAjaxTarget">
            @{Html.RenderPartial("_TodoListPartial", Model.TodoListPartialViewModel);}
        </div>
    </div>
    <div class="col-sm-4">
        <div id="eventsAjaxTarget">
            @{Html.RenderPartial("_EventsPartial", Model.EventsPartialViewModel);}
        </div>
    </div>
</div>